/* PostCSS SCSS Syntax: https://github.com/postcss/postcss-scss */

/* PreCSS: https://github.com/jonathantneal/precss */

$blue: #056ef0;
$column: 200px;

.menu {
  width: calc(4 * $column);
}

.menu_link {
  background: $blue;
  width: $column;
}

/* PostCSS Mixins: https://github.com/postcss/postcss-mixins */

/* First sample */

@define-mixin icon $network, $color: blue {
  .icon {
    & .is-$(network) {
      color: $color;
      @mixin-content;

      &:hover {
        background: $color;
        color: white;
      }
    }
  }
}

@mixin icon twitter {
  background: url(twt.png);
}
@mixin icon youtube, red {
  background: url(youtube.png);
}

/* Second sample */

@define-mixin icon $name {
  padding-left: 16px;

  &::after {
    background: url(/icons/$(name).png);
    content: '';
  }
}

.search {
  @mixin icon search;
}
